nav {
    background-color: rgb(9, 187, 18);
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-family: Arial;
    font-size:xxx-large;
    color: white
}

.container, .city-list{
    padding: 20px;
}

li {
    padding: 5px 10px;
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    text-align: center;
 
  }

  .col-2 {
    float: left;
    padding: 5px;
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */

  