nav {
    background-color: rgb(9, 187, 18);
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-family: Arial;
    font-size:xxx-large;
    color: white
}

.container, .city-list{
    padding: 20px;
}

li {
    padding: 5px 10px;
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    text-align: center;
 
  }

  .col-3 {
    float: left;
    padding: 5px;
  }
